@media screen and (max-width: 1368px) {
  .header {
    width: 100%;
    height: 100vh;
    background: url("../images/cashboom/header_bcg.png") center/cover no-repeat;
  }
  .header_menu {
    justify-content: space-between;
  }
  /* BURGER MENU */
  .header_nav {
    display: none;
  }
  .header_burger-menu {
    display: block;
    width: 75px;
    height: 71px;
    border-radius: 8px;
    background: var(--color-EE723D);
  }

  .stone1 {
    right: 600px;
  }
  .stone2 {
    right: 0%;
  }
  .stone3 {
    right: 300px;
  }

  .stone1-a {
    bottom: 150px;
    right: 700px;
    /* animation: floatStoneOne 4s 0.5s infinite; */
  }
  .stone2-a {
    bottom: 250px;
    right: 0px;
    /* animation: floatStoneTwo 4s 0.5s infinite; */
  }
  .stone3-a {
    bottom: 150px;
    right: 130px;
    /* animation: floatStoneThree 4s 0.5s infinite; */
  }
}
@media (max-width: 850px) {
  .header {
    width: 100%;
    height: 100vh;
    background: url("../images/cashboom/header_bcg.png") center/cover no-repeat;
    padding-top: 50px;
  }
  /* BURGER MENU */
  .header_nav {
    display: none;
  }
  .header_burger-menu {
    display: block;
    width: 75px;
    height: 71px;
    border-radius: 8px;
    background: var(--color-EE723D);
  }

  .header_menu {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
  }
  .header_logo img {
    width: 261px;
    height: 70px;
  }

  .header_title-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
  .advertiser-btn {
    grid-row: 9/10;
    justify-self: center;
  }
  .header_titles h1 {
    font-size: 40px;
  }
  .header_description h3 {
    font-size: 27px;
  }
  .header_description p {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .header_title-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 660px) {
  .header {
    padding-top: 0px;
    background: url("../images/cashboom/header_bcg.png") 70% / cover no-repeat;
  }
  .header_logo img {
    width: 130px;
    height: 70px;
  }
  .header_burger-menu {
    display: block;
    width: 38px;
    height: 36px;
    border-radius: 8px;
    background: var(--color-EE723D);
  }
  .header_burger-menu svg {
    width: 26.5px;
  }

  .header_title-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
  .header_titles h1 {
    font-size: 20px;
  }
  .header_description h3 {
    font-size: 14px;
  }
  .header_description p {
    font-size: 16px;
  }
  .advertiser-btn {
    grid-row: 8/9;
  }
}

@media (max-width: 460px) {
  .header {
    height: 100vh;
    background: url("../images/cashboom/header_bcg.png") center/cover
    no-repeat;
  }
}
@media (max-width: 370px) {
  .header_titles h1 {
    text-align: center;
    /* font-size: 16px; */
  }
  .header_description h3 {
    text-align: center;
  }
  .header_description p {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .header_titles h1 {
    font-size: 16px;
  }
}
@media (max-width: 270px) {
  .header_titles h1 {
    font-size: 10px;
  }
  .header_description h3 {
    font-size: 12px;
  }
  .header_description p {
    font-size: 12px;
  }
}

@media (max-width: 220px) {
  /* BURGER MENU */
  .header_burger-menu {
    display: block;
    width: 38px;
    height: 36px;
    border-radius: 8px;
    background: var(--color-EE723D);
  }
  .header_burger-menu svg {
    width: 20px;
  }
}
@media (max-width: 186px) {
  .header_burger-menu {
    display: block;
    width: 55px;
    height: 36px;
    border-radius: 8px;
    background: var(--color-EE723D);
  }
  .header_title-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 175px) {
  .header_titles h1 {
    font-size: 9px;
  }
  .header_burger-menu {
    display: block;
    width: 45px;
    height: 36px;
    border-radius: 8px;
    background: var(--color-EE723D);
  }
  .header_menu {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: normal;
    flex-direction: column;
  }
}
@media (max-width: 156px) {
  .header_titles h1 {
    font-size: 7px;
    text-align: left;
  }
}
@media (max-height: 680px) {
  .header_title-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
  .header {
    width: 100%;
    height: 200vh;
    background: url("../images/cashboom/header_bcg.png") left / cover no-repeat;
  }
}
@media (max-height: 390px) {
  .header {
    width: 100%;
    height: 240vh;
    background: url("../images/cashboom/header_bcg.png") left / cover no-repeat;
  }
}
/* @media (max-width: 845px) (max-height: 391px){
    .header {
      width: 100%;
      height: auto !important;
      background: url("../images/cashboom/header_bcg.png") center / cover no-repeat;
      padding-top: 50px;
    }
    .header_title-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
    .header_titles {
      grid-row: 1 / 2;
      align-self: center;
    }
    .header_description {
        grid-row: 2 / 3;
    }
    .advertiser-btn {
      grid-row: 4 / 5;
      justify-self: center;
    }
  } */
/*
  @media (max-height: 1300px){
    .header {
      height: auto;
      background: url("../images/cashboom/header_bcg.png") left / cover no-repeat;
    }
  }
  @media (max-width: 800px) (max-height: 560px){
    .header {
      height: auto;
      background: url("../images/cashboom/header_bcg.png") left / cover no-repeat;
    }
    .header_title-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
    .header_titles {
      grid-row: 1 / 2;
      align-self: center;
    }
    .header_description {
        grid-row: 2 / 3;
    }
    .advertiser-btn {
      grid-row: 4 / 5;
      justify-self: center;
    }
  }
  */
