:root{
  --color-FFFFFF: #FFFFFF;
  --color-D9D9D9: #D9D9D9;
  --color-181923: #181923;

  --color-EE883D: #EE883D;
  --color-F2C31C: #F2C31C;
  --color-EE723D: #EE723D;
  --color-14194D: #14194D;
  
  --color-DA5538: #DA5538; /* hover */
  --color-282A33: #282A33; /* active */

}